# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.py]
max_line_length = 88
[docs/**.txt]
max_line_length = 79

# Use 2 spaces for the HTML, JS, YML and JSON files
[*.{html,yml,json,js}]
indent_size = 2

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
