app/singlepage/migrations/
microservices/app/products/migrations/
microservices/app/.dbdata/
microservices/app/products/__pycache__/
microservices/app/app/__pycache__/
microservices/app/.env.queue
microservices/main_app/__pycache__
microservices/main_app/.dbdata
microservices/main_app/migrations