version: '3.8'

services:
  frontend:
    build: ./app_frontend
    container_name: frontend
    command: python manage.py runserver 0.0.0.0:3000
    volumes:
      - ./app_frontend:/code
    ports:
      - "3000:3000"
    env_file:
      - .env.web
    depends_on:
      - auth-api
  #change the database name
  auth-db:
    image: postgres:16
    container_name: auth-db
    volumes:
      #change the volume name
      - auth-db-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # add in the .env the name of the db
      - POSTGRES_DB=${POSTGRES_AUTH_DB}
    ports:
      - "5433:5432"

  auth-api:
    build: ./backend/services/auth
    container_name: auth-api
    volumes:
      - ./backend/services/auth:/code
    ports:
      - "8002:80"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # add in the .env the name of the db
      - POSTGRES_NAME=${POSTGRES_AUTH_DB}
      # this must be the name of the db service
      - POSTGRES_HOST=auth-db
      - JWT_SECRET=${JWT_SECRET}
      - TEMPORARY_JWT_SECRET=${TEMPORARY_JWT_SECRET}
      - OAUTH42_CLIENT_ID=${OAUTH42_CLIENT_ID}
      - OAUTH42_SECRET_KEY=${OAUTH42_SECRET_KEY}
      - OAUTH42_REDIRECT_URI=${OAUTH42_REDIRECT_URI}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
    depends_on:
      - auth-db

  game-info-db:
    image: postgres:16
    volumes:
      - game-info-db-data:/var/lib/postgresql/data
    env_file:
      - ./.env.db
    ports:
      - "5434:5432"

  game-info:
    build: ./backend/services/game_info
    container_name: game-info
    volumes:
      - ./backend/services/game_info:/usr/src/app
    ports:
      - "8003:80"
    env_file:
      - .env.web
    environment:
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - game-info-db

  api-gateway:
    build: ./backend/api_gateway
    container_name: api-gateway
    volumes:
      - ./backend/api_gateway:/code
    ports:
      - "8010:80"
    env_file:
      - .env
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - TEMPORARY_JWT_SECRET=${TEMPORARY_JWT_SECRET}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
    depends_on:
      - auth-api


  user-management-api:
    build: ./backend/services/user_management
    volumes:
      - ./backend/services/user_management:/user_management
    ports:
      - "8006:8000"
    depends_on:
      - user-management-db

  user-management-db:
    image: postgres
    volumes:
      - user-management-db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: 'admin'
      POSTGRES_PASSWORD: '1234'
    ports:
      - "5435:5432"

volumes:
  #change the volume name
  auth-db-data:
  game-info-db-data:
  user-management-db:

