{% load i18n %}

<div class="d-flex flex-column align-items-center justify-content border border-white border-opacity-10 rounded-3 p-4 form-container">

    <form id="match-form">
      <div class="main pb-5">

        {% csrf_token %}

        <h5>{% translate "Set the game rules:" %}</h5>
        {% include "form.html" with form=rules_form %}

        <h5 class="pt-3">{% translate "Choose an oponent:" %}</h5>
        {% include "form.html" with form=user_form %}

      </div>

      <button class="btn btn-primary w-100" id="button-invite" type="submit">
        {% translate "Invite" %}
      </button>
    </form>

    <form id="match-confirmation" class="d-none main pb-5">
      {% csrf_token %}
      <p>Token de confirmação aqui</p>
    </form>

    <div class="game-rules d-none" id="game-rules">
      {% blocktrans %}
      Explain rules
      {% endblocktrans %}
      <button class="btn btn-secondary w-100" id="button-start" type="btn">
        {% translate "Start Game" %}
      </button>
    </div>

  </div>
</div>
