{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="fieldWrapper {% if no_mb %}{% else %} mb-3 {% endif %} {% if css_class %}{{ css_class }}{% endif %}" id="{{ field.name }}">

      {% if field.label %}
        {{ field.label_tag }}
      {% endif %}

      {{ field }}

      {% if field.help_text %}
        <p class="small" id="{{ field.auto_id }}_helptext">
          {{ field.help_text|safe }}
        </p>
      {% endif %}

      {% for error in field.errors %}
        <div class="form-error p-sm">
          {{ error }}
        </div>
      {% endfor %}

    </div>
{% endfor %}
