{% load i18n %}
<h1>{% translate "Let's Play Pong!" %}</h1>

{{ game_form.as_table }}
{{ rules_form.as_table }}

{% comment %} <p>Duration: {{ game.duration }}</p>
<p>Status: {{ game.status.label }}</p> {% endcomment %}

{% comment %}
<h2>Rules</h2>
<ul>
  <li>Player max points: {{ game.player_reach_points }}</li>
  <li>Max total points: {{ game.game_total_points }}</li>
</ul>
{% endcomment %}

{% comment %} <div class="row">
  <div class="col">
    <h3>Player A</h3>
    <p>Points: {{ game.score_a }}</p>
  </div>
  <div class="col">
    <h3>Player B</h3>
    <p>Points: {{ game.score_b }}</p>
  </div>
</div> {% endcomment %}
