{% load i18n %}
{% load timedelta_tags %}

{% if not is_public_view and user %}
  <div><h3>{% translate "Your matches" %}</h3></div>
{% endif %}

{% if is_public_view %}
  <div class="d-inline-flex">
    {% comment %} TODO: avatar {% endcomment %}
    <h3>{% blocktrans %} {{ user }} matches {% endblocktrans %}</h3>
  </div>
{% endif %}

<div
  id="games-table"
  class="table-responsive border border-white border-opacity-10 rounded-3 align-content-center"
>
  <table
    class="table table-dark align-middle"
  >
    <thead>
      <tr>
        <th>{% translate "Result" %}</th>
        <th>{% translate "Date / Status" %}</th>
        <th>{% translate "Duration" %}</th>
        {% if user %}
          {% comment %} column to indicate that the user won or to make some action if owner {% endcomment %}
          <th></th>
          {% comment %} column to DELETE / CANCEL {% endcomment %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% if total_games %}

        {% for game in game_list %}
        <tr class="match-row">
          <td>{% include "game_result.html" %}</td>

          <td>
            {% if game.status == GameStatus.ENDED %}
              {{ game.game_datetime.date }} - {{ game.game_datetime.time|time:"H:i" }}
            {% else %}
              {{ game.status_label }}
            {% endif %}
          </td>

          <td>
            {% if game.status == GameStatus.ENDED %}
              {{ game.duration|format_timedelta }}
            {% else %}
              -
            {% endif %}
          </td>

          {% if user %}
            {% comment %} column to indicate that the user won or makeactions {% endcomment %}
            <td>
              {% if game.is_winner %}
                <span class="winner">{% translate "Winner" %}</span>
              {% elif not is_public_view and game.is_owner %}

                {% if game.status == GameStatus.SCHEDULED %}
                  <button
                    class="btn btn-primary action"
                    onclick="window.location='?match={{game.pk}}#pong';"
                  >
                    {% translate "Play" %}
                  </button>

                {% elif game.status == GameStatus.PAUSED or game.status == GameStatus.ONGOING %}
                  <button
                    class="btn btn-primary action"
                    onclick="window.location='?match={{game.pk}}#pong';"
                  >
                    {% translate "Continue" %}
                  </button>

                {% elif game.status == GameStatus.PENDING %}
                  <button
                    class="btn btn-secondary action"
                    onclick="window.location='?match={{game.pk}}#verify-player';"
                  >
                    {% translate "Validate" %}
                  </button>
                {% endif %}
              {% endif %}
            </td>

            <td>
              {% if not is_public_view and game.is_owner %}

                {% if game.status == GameStatus.PENDING %}
                  <button
                    class="btn btn-dark delete" id="delete-{{ game.pk }}"
                  >
                    {% translate "Delete" %}
                  </button>

                {% elif game.status == GameStatus.SCHEDULED or game.status == GameStatus.PAUSED %}
                  <button
                    class="btn btn-dark cancel" id="cancel-{{ game.pk }}"
                  >
                    {% translate "Cancel" %}
                  </button>

                {% endif %}
              {% endif %}
            </td>
          {% endif %}
        </tr>

        {% endfor %}
      {% endif %}
    </tbody>
  </table>

  {% if total_games == 0 %}
    <div class="game-message d-flex justify-content-center">
      {% if is_public_view %}
        <h3>{% translate "This user has no matches" %}</h3>
      {% else %}
        <h3>{% translate "You have no matches yet..." %}</h3>
      {% endif %}
    </div>
  {% endif %}

</div>

{% if is_paginated %}
  {{ paginator.num_pages }} {{ paginator.page_obj }}
{% endif %}
