{% load i18n %}

<form action="http://localhost:8020/{% url 'core:create_game' %}" method="post">
  <div class="main pb-5">
    <h5>{% translate "Set the game rules:" %}</h5>

    {% csrf_token %}
    {{ rules_form }}

    <h5 class="pt-5">{% translate "Choose an oponent:" %}</h5>
    {{ user_form }}

  </div>

  <button class="btn btn-primary w-100" type="submit" id="button">
    {% translate "Let's play pong!" %}
  </button>
  {% comment %} <i id="spinner"
    class="fa fa-spinner fa-spin text-white htmx-indicator"
    aria-hidden="true">
  </i> {% endcomment %}
</form>
