{% load i18n %}
{% load timedelta_tags %}

{% if not is_viewer and user %}
  <div><h3>{% translate "Your matches" %}</h3></div>
{% endif %}
{% if is_viewer %}
  <div class="d-inline-flex">
    {% comment %} TODO: avatar {% endcomment %}
    <h3>
      {% blocktrans %}
        {{ user }} matches
      {% endblocktrans %}
    </h3>
  </div>
{% endif %}

<div id="games-table" class="table-responsive main border border-white border-opacity-10 rounded-3">
  <table class="table table-dark align-middle {% if not is_viewer and user %}table-hover{% endif %}">
    <thead>
      <tr>
        <th class="games-table-title">{% translate "Result" %}</th>
        <th class="games-table-title">{% translate "Date / Status" %}</th>
        <th class="games-table-title">{% translate "Duration" %}</th>
        {% if user %}
          {% comment %} column to indicate that the user won {% endcomment %}
          <th></th>
          {% comment %} column to indicate some user record? {% endcomment %}
          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for game in game_list %}
        {% comment %} {% if game.status == GameStatus.ENDED or user %} {% endcomment %}
          <tr class="match-row"
              id="game_{{game.pk}}"
              {% if not is_viewer and game.is_owner %}
                onclick="window.location='?match={{game.pk}}#pong';"
              {% endif %}
          >

            <td>
              {% include "game_result.html" %}
            </td>

            <td>
              {% if game.status == GameStatus.ENDED %}
                {{ game.game_datetime.date }} - {{ game.game_datetime.time|time:"H:i" }}
              {% else %}
                {{ game.status_label }}
              {% endif %}
            </td>

            <td>
              {% if game.status == GameStatus.ENDED %}
                {{ game.duration|format_timedelta }}
              {% else %}
                -
              {% endif %}
            </td>

            {% if user %}
              {% comment %} column to indicate that the user won {% endcomment %}
              <td></td>
              {% comment %} column to indicate some user record? {% endcomment %}
              <td></td>
            {% endif %}

          </tr>
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% if is_paginated %}
  {{ paginator.num_pages }}
  {{ paginator.page_obj }}
{% endif %}
