{% load i18n %}

<h2 class="title d-flex justify-content-center mb-4">{{ t.name }}</h2>

{% if t.status == TournamentStatus.INVITATION %}
  <h5 class="subtitle d-flex justify-content-center">
    {{ t.status_label }}
  </h5>

  {% if t.is_owner %}
    <div class="d-flex justify-content-center pb-5 pt-2">
      <button
        class="btn btn-primary action align-items-center"
        onclick="window.location='?t={{t.pk}}#verify-players';"
      >
        <h5 class="pt-2">{% translate "Validate Players" %}</h5>
      </button>
    </div>
  {% endif %}

  {% include "tournament/rating_table.html" %}
{% else %}
  {% if t.status == TournamentStatus.ENDED or t.status == TournamentStatus.ON_GOING %}
    {% include "tournament/rating_table.html" %}
  {% endif %}

  {% for r in rounds %}
    {% if r.status != RoundStatus.WAITING %}
      {% include "tournament/round_table.html" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %} {{ tournament_form.as_table }}
{{ rules_form.as_table }} {% endcomment %}
