<h1>User Games</h1>
  {% if game_list %}
    <ul>
      {% for game in game_list %}
      <li>
          {{ game.game_datetime.date }} - {{ game.duration }} - {{ game.players.all }}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no games in the library.</p>
{% endif %}

{% load i18n %}

<div id="games-table" class="">
  <table>
    <thead>
      <tr>
        <th class="games-table-title">{% translate "Date" %}</th>
        <th class="games-table-title">{% translate "Result" %}</th>
        <th class="games-table-title">{% translate "Duration" %}</th>
        {% if user %}
          {% comment %} column to indicate that the user won {% endcomment %}
          <th></th>
          {% comment %} column to indicate some user record? {% endcomment %}
          <th></th>
        {% endif %}
      </tr>
    </thead>
  </table>
  <tbody>
    {% for game in game_list %}
      <tr>
        <td>{{ game.game_datetime.date }} - {{ game.game_datetime.time }}</td>
        <td>
          {% with total_players=game.players.all|length %}
            {% for player in game.game_players.all %}
              {{ player.score }}
              {% comment %} {{ forloop.counter0 }} {% endcomment %}
              {% if forloop.counter != total_players %}
              X
              {% endif %}
              {% comment %} <div class="row user-game-result">
                <div class="col">
                  image
                </div>
                <div class="col">
                  username
                </div>
                <div class="col">
                  {{ player.score }}
                </div>
              </div> {% endcomment %}
            {% endfor %}
          {% endwith %}
        </td>
        <td>{{ game.game_datetime.date }} - {{ game.game_datetime.time }}</td>
      </tr>
      {% endfor %}
  </tbody>
</div>

{% if is_paginated %}
  {{ paginator.num_pages }}
  {{ paginator.page_obj }}
{% endif %}
