<div class="player">
  {% if position == "R" %}
    <span class="{% if player.is_winner %} winner {% elif game.has_winner %}loser{% endif %}">
      <strong>{{ player.score}}</strong>
    </span>
  {% else %}
    <span class="avatar">
      {% comment %} TODO: avatar {% endcomment %}
    </span>
  {% endif %}
  <span class="username">{{ player.user.username}}</span>

  {% if position == "L" %}
    <span class="{% if player.is_winner %} winner {% elif game.has_winner %}loser{% endif %}">
      <strong>{{ player.score}}</strong>
    </span>
  {% else %}
    <span class="avatar">
      {% comment %} TODO: avatar {% endcomment %}
    </span>
  {% endif %}

</div>
