body, html {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
}

.arcade-theme .navbar, .arcade-theme .footer {
    background-color: #111; 
}

.nav-link {
    color: #00FF00 !important;
    text-shadow: 1px 1px #000;
}

.navbar-brand {
    color: #FFD700 !important;
    text-shadow: 1px 1px #000;
}

h1 {
    font-size: 2rem;
    color: #FF4500;
    text-shadow: 2px 2px #000;
}
