<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Dashboard{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

    <div class="container-fluid main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">User Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 custom-width">
                    <div class="container text-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-4">
                                <img src="{% static 'images/gold_medal_star_icon.png' %}" alt="Foto do usuário" class="profile-picture">
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'images/avatar_user_icon.png' %}" alt="Foto do usuário" class="profile-picture">
                            </div>
                            <div class="col-md-4">
                                <p><strong>Nickname:</strong> JohnDoe</p>
                                <p><strong>Pontuação:</strong> 1000</p>
                                <p><strong>Vitórias:</strong> 50</p>
                                <p><strong>Derrotas:</strong> 20</p>
                                <p><strong>Posição:</strong> 5º</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 mb-3 custom-width">
                    <div class="card">
                        <div class="card-header">
                            Lista de Usuários
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>