{% load i18n %}

<div class="game-rules pb-2" id="game-rules">
  <div class="d-flex justify-content-center">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#rules-collapse" aria-expanded="false" aria-controls="rules-collapse">
      {% translate "The Transcendence Journey's Pong Game Rules" %}
    </button>
  </div>
  <div class="collapse py-2" id="rules-collapse">
    <ol>
      <li class="pt-2">
        {% translate "To move your paddle up and down, use respectively the keyboard keys:" %}
      </li>
      <ul>
        <li>
          {% blocktrans %}
            <span class="text-emphasis"><strong>W</strong></span>
            and
            <span class="text-emphasis"><strong>S</strong></span> for left player
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            <span class="text-emphasis"><strong>ArrowUp</strong></span> and
            <span class="text-emphasis"><strong>ArrowDown</strong></span> for right player
          {% endblocktrans %}
        </li>
      </ul>
      <li class="pt-2">
        {% blocktrans %}
          Game ends when a player riches
          <span class="text-emphasis"><strong>11 points</strong></span>.
        {% endblocktrans %}
      <p>{% translate "You may customize this value or change how the game ends, considering:" %}</p>
      <ul>
        <li>{% translate "game total points" %}</li>
        <li>{% translate "game duration" %}</li>
      </ul>
    </ol>
  </div>
</div>
