html, body {
    margin: 0;
    padding: 0;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
    color: whitesmoke; 
    text-decoration: none; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: whitesmoke;
    text-decoration: underline;
}

body {
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #100C1C; 
    color: whitesmoke; 
}

a {
    color: whitesmoke; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.details-profile-picture {
    width: 200px;
    height: 200px;
}

.details-pictures {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.details-medal-picture {
    width: 90px;
    height: 90px;
}

.containers {
    font-family: "Turret Road", sans-serif;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #1B1926;
    padding: 20px;
    border: 1px dashed #381718;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.header-row-info {
    border-top: 2px solid #381718;
    border-bottom: 2px solid #381718;
    padding: 10px 0;
}

.header-info-column {
    text-align: left;
    display: flex;
    align-items: center;
}

.header-scores-column,
.header-players-column {
    text-align: right;
    display: flex;
    align-items: center;
}

.header-info-icon {
    font-size: 24px;
    margin-right: 10px;
}

.row-item-list {
    border: 2px solid #381718;
    padding: 10px 0;
}

.list-user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-nickname,
.list-scores {
    margin-bottom: 5px;
}

.list-user-game-status {
    font-weight: bold;
}
