:root {
    --mainText: #eceaea;
    --mainSameColorText: #111212;
    --primary-light: #323B42;
    --primary-normal: #212930;
    --primary-dark: #0F151A;
    --bs-btn-bg: #0F151A;
    --primary-gradient: linear-gradient(220.94deg, #323B42 14.43%, #0F151A 85.28%);
    --secondary-light: #F5C16E;
    --secondary-normal: #E5BA75;
    --secondary-dark: #CC9E54;
    --secondary-textGradient: -webkit-linear-gradient(90deg,#F5C16E 0%,#CC9E54 100%);
    --secondary-gradient: linear-gradient(90deg, #F5C16E 0%, #CC9E54 100%);
    --secondary-gradientMain: linear-gradient(90deg, rgba(245, 193, 110, 0.08) -0.86%, rgba(229, 186, 117, 0.94) 97.95%);
    --secondary-gradientVertical: linear-gradient(180deg, rgba(245, 193, 110, 0.08) 0%, rgba(229, 186, 117, 0.94) 100%);
    --white-light: #FCFEFF;
    --white-normal: #F2F5F6;
    --white-dark: #E4E9ED;
    --white-gradient: linear-gradient(90.08deg, rgba(252, 254, 255, 0.8) 0.08%, rgba(228, 233, 237, 0.8) 99.93%);
    --black-light: #202121;
    --black-normal: #151616;
    --black-dark: #070708;
    --black-rgb: 21,22,22;
    --gray-1: #454446;
    --gray-2: #555456;
    --gray-3: #666566;
    --gray-4: #767576;
    --gray-5: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #868587;
    --gray-6: #969597;
    --gray-7: #A6A6A7;
    --gray-gradient: linear-gradient(90deg, rgba(166, 166, 167, 0.3) 0%, rgba(69, 68, 70, 0.6) 100%);
    --gray-gradientVertical: linear-gradient(180deg, rgba(166, 166, 167, 0.3) -12.67%, rgba(69, 68, 70, 0.6) 100%);
    --red-light: #F05454;
    --red-normal: #EB3D3D;
    --red-dark: #D03333;
    --green-light: #50E170;
    --green-normal: #32D957;
    --green-dark: #28BB49;
    --yellow-light: #FFD76B;
    --yellow-normal: #FFCE52;
    --yellow-dark: #D9B043;
    --gradient-main: linear-gradient(90deg, rgba(245, 193, 110, 0.08) -0.86%, rgba(229, 186, 117, 0.94) 97.95%);
    font-size: 17px;
    --extra-small-screen:320px;
    --small-screen:576px;
    --medium-screen:768px;
    --large-screen:992px;
    --extra-large-screen:1200px;
    --extra-extra-large-screen:1400px;
}


html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", sans-serif;
    color: var(--white-dark);
    background-color: var(--primary-dark);
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.btn-primary {
    background-color: var(--secondary-light) !important;
    border-color: var(--secondary-dark) !important;
}

.btn-primary:hover {
    background-color: var(--secondary-dark) !important;
    border-color: var(--secondary-dark) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--secondary-dark) !important;
    border-color: var(--secondary-dark) !important;
}

.form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.nav-item {
    transition: background-color 0.3s;
}
.nav-item:hover {
    background-color: var(--primary-light);
    border-radius: 8px;
}
@keyframes space-man-keyframes {
    0% {
        transform: translate3d(700px, 0px, 0) rotate(-20deg);
    }
    100% {
        transform: translate3d(-1600px, -60px, 0) rotate(60deg);
    }
}

.space-man {
    max-height: 300px;
    max-width: 464px;
    z-index: -2;
    position: absolute;
    top: 30%;
    right: 0;
    animation: space-man-keyframes 22s ease infinite alternate;
}

@media (max-width: 1400px) {
    .space-man {
        animation: space-man-keyframes 22s ease infinite alternate;
    }
}

@media (max-width: 992px) {
    .space-man {
        animation: space-man-keyframes 22s ease infinite alternate;
    }
}

@media (max-width: 768px) {
    .space-man {
        animation: space-man-keyframes 19s ease infinite alternate;
    }
}

@media (max-width: 576px) {
    .space-man {
        animation: space-man-keyframes 19s ease infinite alternate;
    }
}

.auth-form label {
    font-size: 14px;
}

.input-group-custom, .form-container-max-width {
    max-width: 550px;
}

@media screen and (max-width: 768px) {
    .input-group-custom {
        max-width: 100%;
    }
    .input-group-custom .form-control {
        font-size: 12px;
    }
}

.valid-feedback, .invalid-feedback {
    font-size: 10px;
    border:1px solid hsla(0, 0%, 65%, 0.158);
    padding: 8px;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
    .valid-feedback, .invalid-feedback {
        font-size: 10px;
    }
}

.form-control:disabled {
    background-color: var(--primary-light);
    color: var(--white-dark);
}

.button-42 {
    width: 32px;
}

.cursor-pointer {
    cursor: pointer;
}
.z-999 {
    z-index: 999;
}

#forgot-password {
    font-size: 12px;
}

.nav-icons{
    font-size: 1.1rem;
    line-height: 1.1rem;
}

@media screen and (max-width: 576px){
    .reduce-font-size {
        font-size: 12px;
    }
}


.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #e1b161;
    margin: 20px auto;
}
.lists-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.friends-list, .blocked-list {
    background-color: #1B1926 !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.friends-list ul, .blocked-list ul {
    list-style-type: none;
    color: #ffffff;
    padding: 0;
}

.friends-list li, .blocked-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.friends-list li:last-child, .blocked-list li:last-child {
    border-bottom: none;
}

.friends-list h3, .blocked-list h3 {
    color: #e1b161;
    margin-bottom: 10px;
}

.status-active {
    color: #00FF00 !important; /* Green for active */
}
.status-inactive {
    color: #FF0000 !important; /* Red for inactive */
}

@media (max-width: 767px) {
    .lists-container {
        flex-direction: column;
    }
}

.settings-container {
    max-width: 600px;
    margin: 0 auto;
    color: #f8f3f3;
}

.settings-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.settings-form {
    background-color: #1B1926;
    padding: 20px;
    border-radius: 8px;
}

.user-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.user-avatar img {
    border-radius: 50%;
}

.change-avatar {
    background-color: #e1b161;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 5px;
}

.btn-submit {
    width: 100%;
    background-color: #e1b161;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-group-item {
    display: flex;
    align-items: center;
    background-color: #2C2A3A;
    border: none;
    color: #ffffff;
}

.list-group-item img {
    margin-right: 15px;
}

.card {
    background-color: #2C2A3A;
    border: none;
}

.card-header {
    text-decoration-color: #ffffff;
    color: #ffffff;
    background-color: #2C2A3A;
    border-bottom: 1px solid #3A3847;
}

.card-body {
    color: #ffffff;
    background-color: #2C2A3A;
}

.btn {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.game-message {
    color: var(--secondary-light);
}

.score {
    color: var(--secondary-light);
}

.text-emphasis {
    color: var(--secondary-light);
}
