html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
}

.navbar a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #100C1C; 
    color: whitesmoke; 
}

a {
    color: whitesmoke; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.containers {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #1B1926;
    padding: 20px;
    border: 1px dashed #381718;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
