<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/2048px-42_Logo.svg.png">
</head>
<body>
    <div class="profile-container">
        <div class="avatar">
        </div>
        <h1 id="userName"></h1>
        <h2 id="userNickname">@</h2>
        <h3 id="userStatus" class="status-inactive">Status: Inactive</h3>
        <p id="userLanguage"></p>
        <p id="user2fa"></p>
        <div class="lists-container">
            <div class="friends-list">
                <h3>Friends</h3>
                <ul id="friendsList">
                </ul>
            </div>
            <div class="blocked-list">
                <h3>Blocked Users</h3>
                <ul id="blockedList">
                </ul>
            </div>
        </div>
    </div>
    <script src="/frontend/js/profile.js"></script>
</body>
</html>
