{% load i18n %}

<h4 class="pt-3">{% translate "Include players:" %}</h4>
<ol>

  {% for form in players_forms %}
    {% if forloop.counter < 3 %}
      <li>
        <div class="row">
          {% include "form.html" with form=form css_class="col-sm" %}
          <div class="col-1"></div>
        </div>
      </li>
    {% endif %}
  {% endfor %}

  {% if empty %}

    <li>
      <div class="row">
        {% include "form.html" with form=base_player_form css_class="col-sm" %}
        <div class="col-1"></div>
      </div>
    </li>
    <div id="round-robin-forms">
      <li>
        <div class="row">
          {% include "form.html" with form=base_player_form css_class="col-sm" %}
          <div class="col-1"></div>
        </div>
      </li>
    </div>

  {% else %}

    {% for form in players_forms %}
      <div id="round-robin-forms">
        {% if forloop.counter > 2 %}
          <li>
            <div class="row">
              {% include "form.html" with form=form css_class="col-sm" %}
              {% if forloop.counter > 3 %}
                <div data-bs-theme="dark" class="close-button col-1">
                  <button type="button" class="btn-close delete-player" id="close-rules-btn" aria-label="Close"></button>
                </div>
              {% else %}
                <div class="col-1"></div>
              {% endif %}
            </div>
          </li>
        {% endif %}
      </div>
    {% endfor %}

  {% endif %}
</ol>

