{% load i18n %}

<fieldset class="fieldset-game-rules py-2">
  <div id="form-game-rules" {% if not rules_expanded %}class="d-none"{% endif %}>

    <legend class="d-flex justify-content-between">
      <u>
        <span class="game-rules-group">{% translate "Customize Tournament's Rules" %}</span>
      </u>
      <span data-bs-theme="dark" class="close-button">
        <button type="button" class="btn-close" id="close-rules-btn" aria-label="Close"></button>
      </span>
    </legend>

    <div class="px-2">
      {% include "form.html" with form=rules_form %}
      <div class="d-flex justify-content-center">
        <button class="btn btn-secondary" id="default-rules-btn" type="button">
          {% translate "Use Default Game Rules" %}
        </button>
      </div>
    </div>

  </div>
</fieldset>
