{% load i18n %}
{% load player_tags %}

<ol>
  <li class="pt-2">
    {% blocktrans %}
      A win gives the player <span class="text-emphasis"><strong>3 rating points</strong></span>.
      A tie, <span class="text-emphasis"><strong>1 rating point</strong></span>.
    {% endblocktrans %}
  </li>

  <li class="pt-2">
    {% translate "The tournament winner is the player with highest rating." %}
  </li>

  <li class="pt-2">
    {% translate "In case of tie, the winner is determined by the one with more wins." %}
  </li>

  <li class="pt-2">
    {% translate "If there is still a tie, the winner is the one with more total points during tournament." %}
  </li>

  {% if t.tournament_type == TournamentType.ROUND_ROBIN %}

    <li class="pt-2">
      {% blocktrans %}
        This is a <span class="text-emphasis"><strong>Round Robin</strong></span> tournament
        which means all players play against each other
      {% endblocktrans %}
    </li>

  {% elif t.tournament_type == TournamentType.CHALLENGE %}

    <li class="pt-2">
      {% blocktrans with rounds=t.number_of_rounds %}
        This is a <span class="text-emphasis"><strong>Challenge</strong></span> tournament
        with {{ rounds }} matches
      {% endblocktrans %}
    </li>

  {% endif %}

  {% if t.rules.points_to_win %}
    <li class="pt-2">
      {% blocktrans with points=t.rules.points_to_win %}
        Each game ends when a player riches
        <span class="text-emphasis">
          <strong>{{ points }} points</strong>
        </span>
      {% endblocktrans %}
    </li>
  {% endif %}

  {% if t.rules.game_total_points %}
    <li class="pt-2">
      {% blocktrans with points=t.rules.game_total_points %}
        Each game ends when the match total points riches
        <span class="text-emphasis">
          <strong>{{ points }} points</strong>
        </span>
      {% endblocktrans %}
    </li>
  {% endif %}

  {% if t.rules.max_duration %}
    <li class="pt-2">
      {% translate "Each game ends within" %}
      <span class="text-emphasis">
        <strong>{{ t.rules.max_duration|time:"H:i" }}</strong>
      </span>
    </li>
  {% endif %}

</ol>
